@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.popins-family {
    font-family: "Poppins", sans-serif;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    background: linear-gradient(180deg, #2F4FB6 0%, #152350 100%) !important;
    z-index: 10;
    transition: all 300ms linear;
    border-radius: 10px;
    transform-origin: left;
    display: flex;
}

.z-5 {
    z-index: 5;

}

.rotate40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-44deg);
}

.bg-transparent {
    opacity: 0;
}

.gap-32 {
    gap: 32px;
}

.mx-w-1140 {
    max-width: 1140px !important;
}

/* ---------section-1---------- */
.hero-bg {
    background-image: url(../image/png/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-left-layer {
    left: -14%;
    top: -44%;
}

.mx-w-1240 {
    max-width: 1240px !important;
}

.nav-bg {
    border-radius: 65px;
}

.py-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.px-24 {
    padding-left: 24px;
    padding-right: 24px;
}

.nav-btn {
    border-radius: 103px;
    padding: 12px 24px;
    background: linear-gradient(180deg, #2F4FB6 0%, #152350 100%);
    transition: all 200ms linear;
    border: 2px solid;
}

.nav-btn:hover {
    border-radius: 103px;
    padding: 12px 24px;
    background: white;
    color: #2F4EB5 !important;
}

.mx-w-570 {
    max-width: 570px;
}

.gap-8 {
    gap: 8px;
}

.download-box-2 {
    border-radius: 6px;
    padding: 10px 12px;
    max-width: 150px;
}

.download-box-2:hover {
    opacity: 75% !important;
}

.download-box {
    border-radius: 6px;
    padding: 10px 12px;
    max-width: 150px;
}

.download-box:hover {
    opacity: 75% !important;
}

.pb-40 {
    padding-bottom: 40px;
}

.pt-102 {
    padding-top: 102px;
}

.mx-w-426 {
    max-width: 426px;
}

.main-girl-img {
    right: 11%;
    bottom: 17px;
    height: 604px;
}

.red-parabox {
    width: 156px;
    border-radius: 4px;
    padding: 2px 8px;
    background: #FCF1F1;
    border: 0.5px solid #A40707;
}

.red-box {
    width: 204px;
    height: 140px;
    border-radius: 12px;
    padding: 24px;
    bottom: 8%;
    left: -21%;
}

/* ---------section-2---------- */
.mx-w-100 {
    max-width: 100px;
}

.ml-80 {
    margin-left: 80px;
}

.mx-w-514 {
    max-width: 514px;
}

.mx-w-402 {
    max-width: 402px;
}

/* ---------section-3---------- */
.section-3-box {
    max-width: 1320px;
    border-radius: 12px;
    background: linear-gradient(180deg, #2F4FB6 0%, #152350 100%);
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.mx-w-598 {
    max-width: 598px;
}

.mt-40 {
    margin-top: 40px;
}

/* ---------footer---------- */
.mx-w-424 {
    max-width: 424px;
}

.footer-icon {
    max-width: 40px;
    padding: 11.67px;
    border-radius: 100%;
    background: linear-gradient(180deg, #2F4FB6 0%, #152350 100%);
    transition: all 200ms linear;
}

.footer-icon:hover {
    background: var(--color-orenge) !important;
}

.mt-14 {
    padding-top: 14px;
}

.mx-w-196 {
    max-width: 196px;
}

.pt-60 {
    padding-top: 60px;
}

.footer-line {
    position: relative;
}

.footer-line::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    background: linear-gradient(90deg, rgba(1, 1, 1, 0) 0%, #010101 50%, rgba(1, 1, 1, 0) 100%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.mt-60 {
    margin-top: 60px;
}

/* ----------line-height----------- */
.lh-100 {
    line-height: 100%;
}

.lh-135 {
    line-height: 135%;
}

.lh-120 {
    line-height: 120%;
}

.lh-150 {
    line-height: 150%;
}

.lts-0 {
    letter-spacing: 0;
}

.lts-8 {
    letter-spacing: 3px;
}

@media (max-width:991.98px) {

    .nav-link {
        display: flex !important;
        flex-direction: column;
        background: white !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 3;
        align-items: center;
    }

    .show-navbar {
        right: 0 !important;
    }

    .center {
        justify-content: center;
        align-items: center;
        display: flex;
        margin: auto;
    }

    .mt-41 {
        margin-top: 41px;
    }

    .lg-center {
        margin: auto;
        text-align: center;
    }

    .pt-102 {
        padding-top: 0;
    }

    .pb-15 {
        padding-bottom: 15px;
    }

    .main-girl-img {
        right: 31%;
        bottom: 27%;
        height: 604px;
    }

}

@media (max-width:575.98px) {

    .download-box {
        max-width: 130px;
    }

    .footer-address br {
        display: none;
    }

}